name: Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Run tests (Python ${{matrix.python}})

    strategy:
      matrix:
        python:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"

    runs-on: ubuntu-latest

    - name: Checkout
      uses: actions/checkout@v4

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: |
        pip install -e .
        pip freeze

    - name: Show help
      run: jupyter kernelgateway --help

    - name: Run tests
      run: hatch run cov:test
      env:
        ASYNC_TEST_TIMEOUT: 10

    - name: Build docs
      run: hatch run docs:build

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
